@import url('https://fonts.googleapis.com/css?family=Jost:200,300,400,500,600,700,800,900&display=swap');

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
}
.pfp{
  border-radius: 50%;
  max-height: 4rem;
}
.icon{
  border-radius: 50%;
  max-height: 4rem;
}
.yellow_text{
  color: #e8be35;
}
.sticky{
  z-index: 2;
  position: fixed;
  background-color: #0087d8;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.pfp-token{
  position:absolute;
  bottom: 0;
}
.pfp-token ul{
  position: relative;
  display: flex;
  align-items: baseline;
  text-decoration: none;
}
.pfp-token ul li{
  list-style: none;
}
.pfp-token ul li a{
  display: inline-block;
  color: white;
  font-weight: 400;
  margin-left: 4px;
  text-decoration: none;
}
.home{
  align-items: center;
  text-decoration: none;
}
.pfp-token{
  position: relative;
  display: flex;
  align-items: bottom;
  text-decoration: none;
}
.name{
  font-size: 2.3ch;
  max-width: 50px;
  color: #18bc74;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  display: flex;
}
.token_amount{
  padding-right: 10px;
  font-size: 1.5em;
}

.welcome{
  position: relative;
  display: block;
  text-align: center;
  height: auto;
  width: auto;
}
.signin-message{
  position: relative;
  width: auto;
  font-size: 3ch;
}
.logout-message{
  padding-top: 30px;

  position: relative;
  width: auto;
  font-size: 2ch;
}
.logout-message p{
  padding-bottom: 10px;
}

.page_elements{
  top: 13ch;
  align-self: center;
  position: fixed;
  display: block;
  width: 100%;
}
.welcome button{
  padding: 5px 15px;
  background: #0087d8;
  color: #e8be35;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  text-decoration: none;
}
.upload{
  position: relative;
  display: block;
  text-align: center;
  height: auto;
  width: auto;
 
}
output {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
}

output .image {
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}

output .image img {
    height: 100%;
    width: 100%;
}

output .image span {
    position: absolute;
    top: -4px;
    right: 4px;
    cursor: pointer;
    font-size: 22px;
    color: white;
}

output .image span:hover {
    opacity: 0.8;
}

output .span--hidden {
    visibility: hidden;
}